<div>
  <button id="backToGroups" type="button" class="btn btn-primary">Groups</button>
</div>
<div>
  <form>
    <input type="hidden" id="groupId" name="groupId" value="{{groupId}}">
    <div class="form-group">
      <label for="groupName">Name:</label>
      <input type="text" id="groupName" name="groupName" value="{{groupName}}">
    </div>
    <div class="form-group">
      <label for="groupDescription">Description:</label>
      <textarea id="groupDescription" name="groupDescription" cols="70" rows="10">{{groupDescription}}</textarea>
    </div>
  </form>
  <label>Games:</label>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        {{#each header as |column|}}
          <th scope="col" class="test-class">{{column}}</th>
        {{/each}} 
      </tr>
    </thead>
    <tbody>
      {{#each elements as |row|}}
        <tr>
          <td name="gameId">{{row.id}}</td>
          <td name="gameName">{{row.name}}</td>
          <td name="gameMin">{{row.min_playtime}}</td>
          <td name="gameMax">{{row.max_playtime}}</td>
        </tr>
      {{/each}} 
    </tbody>
  </table>
</div>
<div>
  <button id="updateGroup" type="button" class="btn btn-primary">Update</button>
</div>

